[submodule "T430/.themes/Dracula"]
	path = T430/.themes/Dracula
	url = https://github.com/dracula/gtk
[submodule "T430/.config/i3/i3lock-fancy-multimonitor"]
	path = T430/.config/i3/i3lock-fancy-multimonitor
	url = https://github.com/guimeira/i3lock-fancy-multimonitor
